.App {
  text-align: center;
}

/* This is the style for the banner
    should be present at the top 
    of each page */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #626869;
}

.headerMenu li{
  list-style-type: none;
  display: inline-block;
  margin: 1%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
  background-color: #1E1D2B;
}

.box .footer {
  flex: 0 1 40px;
  background-color: #252736;
  color: #FFFFFF;
}